/*Formatting for HTML*/


body {
	/*background-color: #C3834C;*/
    background-image: url("pirate-background.jpg");
    background-size: 100%;
}

h1{
    background-color: none;
    display: inline;
    float: both;
}

div{
    text-align: center;
}

.mainTitle{
    background-color: "001e00";
    font-size: 30px;
    display: inline;
    float: both;
    width: 50px;
}

.crossbones{
    display: inline;
    float: both;
}

.controls {
    text-align: left;
}

/*CSS3 */


/*----> Used CSS3 Animations*/
/*Title Changes Color*/
h1 {
	text-align: center;
	-webkit-animation: myAnimation 5; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite;
    animation: myAnimation 5s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myAnimation {
    0%   {color: red;}
    25%  {color: gold;}
    50%  {color: blue;}
    100% {color: #ff69b4;}
}

/* Standard syntax */
@keyframes myAnimation {
    0%   {color: red;}
    25%  {color: gold;}
    50%  {color: blue;}
    100% {color: #ff69b4;}
}