/*Formatting for HTML*/

/*----->Used CSS3 Backgrounds*/
body {
    background-image: url("pirate-background.jpg");  /*This is CSS3*/
    background-size: 100%; /*This is CSS3*/
}

h1{
    vertical-align: 100px;
    background-color: none;
    display: inline;
    background-color: black;
}

div{
    text-align: center;
}

/*ID items*/

.mainTitle{
    vertical-align: middle;
    background-color: "001e00";
}

.crossbones, .crossbones2{
    vertical-align: middle;
    display: inline;
}

.controls {
    text-align: left;
}

/*CSS3 */


/*----> Used CSS3 Animations*/
/*Title Changes Color*/
h1 {
	text-align: center;
	-webkit-animation: myAnimation 5; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite;
    animation: myAnimation 5s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myAnimation {
    0%   {color: red;}
    25%  {color: gold;}
    50%  {color: blue;}
    100% {color: #ff69b4;}
}

/* Standard syntax */
@keyframes myAnimation {
    0%   {color: red;}
    25%  {color: gold;}
    50%  {color: blue;}
    100% {color: #ff69b4;}
}

#help {
    background: #001900;
    border-radius: 40px;
    width: 300px;
    color: #ADFF85;
    border: solid white 20px;
    margin: auto;
    margin-top: 30px;
}